<ion-header>
  <ion-toolbar color="dark">
    <ion-title text-center>
      Home
    </ion-title>

  </ion-toolbar>
</ion-header>

<ion-content color="medium">
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-button color="dark" [routerLink]="['/todos']" expand="block">
          Todos
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button color="dark" [routerLink]="['/about']" expand="block">
          About
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>